body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to right, #49A078, #216869);
}


h1 {
  text-align: center;
  font-size: 72px;
  font-family: 'Barlow', sans-serif;
  padding: 5px;
  margin-top: 50px;
  /* color: #D9D9D9; */
  color: #D4F4DD;
}

#login_form {
  background: #ffffff;
  border-radius: 10px;
  position: absolute ;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 230px;
  text-align: center;
}

#login_form h3{
  font-size: 40px;
  font-family: 'Bree Serif', serif;
  margin-top: 20px;
  margin-bottom: 30px;

}


::placeholder {
  color: white;
}


#name {
  background-image: linear-gradient(to right, #49A078, #216869);
  margin-bottom: 20px;
  outline: none ;
  border: none;
  color: #000;
  border-radius: 10px;
  padding: 10px;
  font-size: 15px;

}


.btn {
  background-image: linear-gradient(to right, #49A078, #216869);
  margin-bottom: 20px;
  outline: none ;
  border: none;
  color: #000;
  border-radius: 25px;
  padding: 10px;
  color: white;

}
