<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>  welcome  </title>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
  </head>
  <body>

    <div id="starter">
      <!-- this div is for identifying if the user in a chatroom or not and displaying the name of the chatroom -->
    </div>



    <hr>
      <ul id="channels_list">
        <!-- this an list of all channels that the user can interact with -->
      </ul>




      <hr>

      <form id="creating_form">
        <input type="text" id="channel_name" placeholder="create a new chatroom">
        <input type="submit" value="ss">
      </form>











  </body>
</html>
