<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <script src="{{ url_for('static', filename='login.js')}}">
    </script>
    <link rel="stylesheet" href="{{url_for('static', filename='login1.css')}}">
    <link href="https://fonts.googleapis.com/css?family=Bangers|Barlow|Bree+Serif|Teko&display=swap" rel="stylesheet">
    <title> Welcome!! </title>
  </head>
  <body>
    <h1>Flack</h1>

    <div id="login_form">
      <form id="logining" action="{{ url_for('login') }}" method="post">
        <h3>Login</h3>
        <input id="name" type="text" name="username" placeholder="Please enter your name">
        <br> <br>
        <input class="btn" type="submit">
      </form>
    </div>


  </body>
</html>
